<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 text-center">
      <h1> Thanks <%= @user %></h1>
    </div>
  </div>
  <div class="row">
    <h1 class="col-md-12 mt-5 text-center">
      You are subscribed now!
    </h1>
  </div>

</div>