<div class="row">
  <div class="col-md-12 mt-3 text-center">
    <h3>Now you need to choose your plan</h3>
  </div>
</div>
<!-- creating a form -->
<%=form_tag subscribe_path, method: :post do %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <div class="form-group">
<!--        <select class="form-control" name="plan_id">-->
          <%# @plans.each do |plan| %>
<!--            <option value="<%#= plan.id %>"><%#= plan.amount/100 %>/€ <%#= plan.nickname %></option>-->
<!--            we pass id chosen by custmer as a value  to use it for subscription -->
          <%#end%>
<!--        </select>-->
        <select class="form-control" name="plan_id">
            <option value="<%= @monthly.id %>"><%= @monthly.unit_amount/100 %>/€ </option>
<!--          <option value="<%#= @yearly.id %>"><%#= @yearly.unit_amount/100 %>/€ </option>-->
        </select>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2 text-center">
      <%= submit_tag 'Save changes', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>